@page
@model WebApp.Pages.Home.IndexModel
@{
}

<h1>Home</h1>

<table id="table"
       data-toolbar="#toolbar"
       @* data-search="true" *@
       @* data-show-refresh="true" *@
       @*↓card view *@
       @* data-show-toggle="true" *@
       @* data-show-fullscreen="true" *@
       @* data-show-columns="true" *@
       @* data-show-columns-toggle-all="true" *@
       @* data-detail-view="true" *@
       data-show-export="true"
       data-click-to-select="true"
       @* data-detail-formatter="detailFormatter" *@
       data-minimum-count-columns="2"
       @* data-show-pagination-switch="true" *@
       data-pagination="true"
       data-id-field="UserID"
       @* data-page-list="[10, 25, 50, 100, all]" *@
       data-page-list="[10]"
       @* data-show-footer="true" *@
       @* data-side-pagination="server" *@
       @* data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data" *@
       @* data-response-handler="responseHandler" *@
       >
</table>

@section Scripts {

    <script type="text/javascript" charset="utf-8">

        var jsonObj = @Html.Raw(Json.Serialize(@Model.DepositList));

        $('#table').bootstrapTable({
            columns: [{
                field: 'RegistrationDate',
                title: '登録日'
            }, {
                field: 'UserID',
                title: 'ユーザーID'
            }, {
                field: 'Name',
                title: '氏名'
            }, {
                field: 'Gender',
                title: '性別'
            }, {
                field: 'Age',
                title: '年齢'
            }, {
                field: 'Birthday',
                title: '生年月日'
            }],
            data: jsonObj
        })

        const refreshBtn = document.getElementsByName("refresh")[0]; // ボタンを取得する際、[0]を使って配列から要素を取得

        function handleClick() {
            window.location.reload();
        }

        refreshBtn.addEventListener("click", handleClick);


    </script>
}